body{
	margin: auto;
	font-family: 'EB Garamond', serif;
}
section{
	max-width: 720px;
	min-width: 320px;
	margin: auto;
}

div .quote{
	min-height: 200px;
}

.blockquote{
	margin-top: 0;
	margin-bottom: 0;
}

blockquote p{
	text-align: center;
	font-size: 18px;
	padding: 15px 30px;
	margin-top: 20px;
	margin-bottom: 0;

}

blockquote p:first-of-type:before {
	content: '\201c';
	
}

blockquote p:last-of-type:after {
	content: '\201d';
	position: absolute;
}

.blockquote-footer{
	font-size: 18px;
	text-align: center;
}

div.share{
	display: flex;
	justify-content: center;
}

.twitter-share-button, .facebook-share-button{
	margin: 5px 3px;
}

.newQuote{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media(min-width: 768px) {
	blockquote p{
		margin-top: 80px;
		font-size: 28px;
	}
}


